.logo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  img {
    max-width: 200px;
  }
}

.docs {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  .progress {
    margin-top: 1rem;
    li {
      margin-bottom: .8rem;
    }
  }
}

.table {
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.logout-con {
  text-align: right;
  .logout {
    margin: 30px 0 10px;
    text-align: right;
    .mat-icon {
      transform: rotate(-90deg);
    }
  }
}
