/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body { margin: 0; font-family: 'Montserrat', sans-serif;}

.btn-upload {
  background: rgb(000,094,131) !important;
  color: #fff !important;
}
