/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ecf3f7;

}

.btn-upload {
  background: #F5831F !important;
  color: #fff !important;
}


.mat-paginator {
  .mat-icon-button {
    color: #005E83;
  }
}
